/* Note: No credit is provided for submitting design and/or code that is taken */
/*       from course-provided examples.                                        */
/*                                                                             */
/* Do not copy this code into your project submission and then change it.      */
/*                                                                             */
/* Write your own code from scratch. Use this example as a REFERENCE only.     */
/*                                                                             */
/* You may not copy this code, change a few names/variables, and then claim it */
/* as your own. It does not matter if you can explain what every line does.    */
/*                                                                             */
/* Examples are provided to help you learn. Copying the example and then       */
/* changing it a bit, does not help you learn the learning objectives of the   */
/* assignments. Write your own code from scratch to help you learn it.         */

/* -------------------------------------- */
/* Fonts - add google font @import and font-family snippets here for future use

*/

html {
  font-family: 'Lucida Grande', 'Cantarell', 'Arial', sans-serif;
  background-color: #cfcbbf;
}

body {
  background-color: #efece5;
  color: #000000;
  /* this frames the page content */
  margin: 0 auto; /* remove default spacing and center */
  max-width: 800px; /* frame content */
}

h1 {
  padding: 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.6em;
}

/* -------------------------------------- */
/* header */

header {
  display: flex; /* enable flexbox */
  flex-direction: column; /* align content stacked */
  gap: 1em; /* add some space between items */
}

/* -------------------------------------- */
/* navigation */

nav menu {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
}

nav menu li {
  list-style: none;
}

nav menu li a {
  display: block;
  padding: 0.5em;
  padding-left: 1em;

  border-bottom: 0.25em solid #efece5;
  color: black;

  font-size: 1.4em;
  text-decoration: none;

  box-sizing: border-box;
}

nav menu li a:hover {
  border-bottom: 0.25em solid #55bea9;
  background-color: #ffffff;
}

/* -------------------------------------- */
/* images */

.fit-width {
  display: block;
  width: 100%;
  max-width: 800px;
  min-width: 400px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------- */
/* sections */

.section-spacing {
  padding: 20px;
}

.highlight-welcome {
  color: white;
  background-color: #f3633e;
}

.readable {
  padding: 4px 12px;

  background-color: white;
  color: rgb(47, 70, 108);
}

.highlight-about {
  color: white;
  background-color: #3e587e;
}

.highlight-events, .highlight-attractions {
  background-color: #efece5;
  color: #000000;
}

.highlight-animals, .highlight-directions{
  background-color: #ecd7a7;
  color: #000000;
}

.button {
  display: block;
  width: max-content;

  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;

  background-color: #55bea9;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

/* -------------------------------------- */
/* text alignment */

.text-center {
  text-align: center;
}

/* -------------------------------------- */
/* picture citations */

.picture-citation {
  display: block;
  font-size: 0.8em;
  text-align: right;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.picture-citation a {
  color: inherit;
}

/* -------------------------------------- */
/* make the iframe responsive */

iframe.ratio-16x9 {
  aspect-ratio: 16 / 9; /* set a 16x9 aspect ratio */
  width: 100%; /* use all the width */
  height: 100%; /* use all the height */
}

/* -------------------------------------- */
/* flex side-by-side */

.side-by-side {
  display: flex; /* enable flexbox */
  flex-direction: row; /* align content side-by-side */
  align-items: center; /* vertically align items */
}

.image-column, .text-column {
  flex: 1; /* distribute space equally */
  min-width: 200px; /* minimum width for each column */
  padding: 0.5em; /* add some padding */
  box-sizing: border-box; /* include padding in width calculation */
}

.image-column img {
  max-width: 100%; /* make image responsive */
  height: auto;
  display: block; /* remove extra space below image */
}

/* Note: No credit is provided for submitting design and/or code that is taken */
/*       from course-provided examples. This includes the Ithaca Zoo example.  */

/* -------------------------------------- */
/* media queries */

/* -------------------------------------- */
/* narrow media query */
@media (max-width: 700px) {

  /* header */
  header {
    padding: 0; /* remove extra space */

    align-items: stretch; /* use all width */
    gap: 0;
  }

  header h1 {
    background-color: #cfcbbf; /* change color */
    padding: 0.5em;
    font-size: 2.5em;
  }

  /* nav menu */
  nav menu {
    flex-direction: column; /* stack content */
  }

  nav menu li a {
    display: block;
    width: 100%;
    padding: 0.5em;
    border-left: 8px solid #efece5;
  }

  nav menu li a:hover {
    background-color: #d0e3d9;
    border-left: 8px solid #55bea9;
    border-bottom: none;
    padding-bottom: 16px;
  }

  /* stack content */
  .side-by-side {
    flex-direction: column; /* stack content */
  }

  /* have text before picture in events section */
  .events-text {
    order: 1; /* show text first */
  }
  .events-image {
    order: 2; /* show image second */
  }

} /* end media query */

/* -------------------------------------- */
/* Dark Mode */

@media (prefers-color-scheme: dark) {
    html {
    background-color: #1f1f1f;
    color: #f0f0f0;
  }

  body {
    background-color: #1f1f1f;
    color: #f0f0f0;
  }

  h1,
  h2,
  a {
  color: #f0f0f0;
  }

  nav menu li a {
  color: #f0f0f0;
  border-bottom: 8px solid #181818;
  }

  nav menu li a:hover {
  background-color: #333333;
  border-bottom: 8px solid #2f7668;
  color: #ffffff;
  }

  .left-column, .right-column {
    background-color: #232323;
    color: #f0f0f0;
  }

  .logo img {
  filter: brightness(0.9) contrast(1.1);
  }

  .highlight-welcome {
    background-color: #893820;
    color: #f0f0f0;
  }

  .highlight-about {
    background-color: #22304a;
    color: #f0f0f0;
  }

  .highlight-events, .highlight-attractions {
    background-color: #251b02;
    color: #f0f0f0;
  }

  .highlight-animals, .highlight-directions {
    background-color: #795603;
    color: #f0f0f0;
  }

  .readable {
  background-color: #232323;
  color: #f0f0f0;
  }

  .button {
  background-color: #338c7a;
  color: #f0f0f0;
  }


}


/* -------------------------------------- */
/* touchable buttons */

/* TODO: add touchable button styles here */
